*\bin
*\obj
*\.idea
*\.vs
packages/newtonsoft.json/12.0.3/.nupkg.metadata
packages/newtonsoft.json/12.0.3/.signature.p7s
packages/newtonsoft.json/12.0.3/LICENSE.md
packages/newtonsoft.json/12.0.3/newtonsoft.json.12.0.3.nupkg
packages/newtonsoft.json/12.0.3/newtonsoft.json.12.0.3.nupkg.sha512
packages/newtonsoft.json/12.0.3/newtonsoft.json.nuspec
packages/newtonsoft.json/12.0.3/packageIcon.png
packages/newtonsoft.json/12.0.3/lib/net20/Newtonsoft.Json.dll
packages/newtonsoft.json/12.0.3/lib/net20/Newtonsoft.Json.xml
packages/newtonsoft.json/12.0.3/lib/net35/Newtonsoft.Json.dll
packages/newtonsoft.json/12.0.3/lib/net35/Newtonsoft.Json.xml
packages/newtonsoft.json/12.0.3/lib/net40/Newtonsoft.Json.dll
packages/newtonsoft.json/12.0.3/lib/net40/Newtonsoft.Json.xml
packages/newtonsoft.json/12.0.3/lib/net45/Newtonsoft.Json.dll
packages/newtonsoft.json/12.0.3/lib/net45/Newtonsoft.Json.xml
packages/newtonsoft.json/12.0.3/lib/netstandard1.0/Newtonsoft.Json.dll
packages/newtonsoft.json/12.0.3/lib/netstandard1.0/Newtonsoft.Json.xml
packages/newtonsoft.json/12.0.3/lib/netstandard1.3/Newtonsoft.Json.dll
packages/newtonsoft.json/12.0.3/lib/netstandard1.3/Newtonsoft.Json.xml
packages/newtonsoft.json/12.0.3/lib/netstandard2.0/Newtonsoft.Json.dll
packages/newtonsoft.json/12.0.3/lib/netstandard2.0/Newtonsoft.Json.xml
packages/newtonsoft.json/12.0.3/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
packages/newtonsoft.json/12.0.3/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
packages/newtonsoft.json/12.0.3/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
packages/newtonsoft.json/12.0.3/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
packages/system.composition.attributedmodel/1.3.0/.nupkg.metadata
packages/system.composition.attributedmodel/1.3.0/.signature.p7s
packages/system.composition.attributedmodel/1.3.0/LICENSE.TXT
packages/system.composition.attributedmodel/1.3.0/system.composition.attributedmodel.1.3.0.nupkg
packages/system.composition.attributedmodel/1.3.0/system.composition.attributedmodel.1.3.0.nupkg.sha512
packages/system.composition.attributedmodel/1.3.0/system.composition.attributedmodel.nuspec
packages/system.composition.attributedmodel/1.3.0/THIRD-PARTY-NOTICES.TXT
packages/system.composition.attributedmodel/1.3.0/useSharedDesignerContext.txt
packages/system.composition.attributedmodel/1.3.0/version.txt
packages/system.composition.attributedmodel/1.3.0/lib/netstandard1.0/System.Composition.AttributedModel.dll
packages/system.composition.attributedmodel/1.3.0/lib/netstandard2.0/System.Composition.AttributedModel.dll
packages/system.composition.attributedmodel/1.3.0/lib/netstandard2.0/System.Composition.AttributedModel.xml
packages/system.composition.attributedmodel/1.3.0/lib/portable-net45+win8+wp8+wpa81/System.Composition.AttributedModel.dll
packages/system.composition.hosting/1.3.0/.nupkg.metadata
packages/system.composition.hosting/1.3.0/.signature.p7s
packages/system.composition.hosting/1.3.0/LICENSE.TXT
packages/system.composition.hosting/1.3.0/system.composition.hosting.1.3.0.nupkg
packages/system.composition.hosting/1.3.0/system.composition.hosting.1.3.0.nupkg.sha512
packages/system.composition.hosting/1.3.0/system.composition.hosting.nuspec
packages/system.composition.hosting/1.3.0/THIRD-PARTY-NOTICES.TXT
packages/system.composition.hosting/1.3.0/useSharedDesignerContext.txt
packages/system.composition.hosting/1.3.0/version.txt
packages/system.composition.hosting/1.3.0/lib/netstandard1.0/System.Composition.Hosting.dll
packages/system.composition.hosting/1.3.0/lib/netstandard2.0/System.Composition.Hosting.dll
packages/system.composition.hosting/1.3.0/lib/netstandard2.0/System.Composition.Hosting.xml
packages/system.composition.hosting/1.3.0/lib/portable-net45+win8+wp8+wpa81/System.Composition.Hosting.dll
packages/system.composition.runtime/1.3.0/.nupkg.metadata
packages/system.composition.runtime/1.3.0/.signature.p7s
packages/system.composition.runtime/1.3.0/LICENSE.TXT
packages/system.composition.runtime/1.3.0/system.composition.runtime.1.3.0.nupkg
packages/system.composition.runtime/1.3.0/system.composition.runtime.1.3.0.nupkg.sha512
packages/system.composition.runtime/1.3.0/system.composition.runtime.nuspec
packages/system.composition.runtime/1.3.0/THIRD-PARTY-NOTICES.TXT
packages/system.composition.runtime/1.3.0/useSharedDesignerContext.txt
packages/system.composition.runtime/1.3.0/version.txt
packages/system.composition.runtime/1.3.0/lib/netstandard1.0/System.Composition.Runtime.dll
packages/system.composition.runtime/1.3.0/lib/netstandard2.0/System.Composition.Runtime.dll
packages/system.composition.runtime/1.3.0/lib/netstandard2.0/System.Composition.Runtime.xml
packages/system.composition.runtime/1.3.0/lib/portable-net45+win8+wp8+wpa81/System.Composition.Runtime.dll
packages/system.composition.typedparts/1.3.0/.nupkg.metadata
packages/system.composition.typedparts/1.3.0/.signature.p7s
packages/system.composition.typedparts/1.3.0/LICENSE.TXT
packages/system.composition.typedparts/1.3.0/system.composition.typedparts.1.3.0.nupkg
packages/system.composition.typedparts/1.3.0/system.composition.typedparts.1.3.0.nupkg.sha512
packages/system.composition.typedparts/1.3.0/system.composition.typedparts.nuspec
packages/system.composition.typedparts/1.3.0/THIRD-PARTY-NOTICES.TXT
packages/system.composition.typedparts/1.3.0/useSharedDesignerContext.txt
packages/system.composition.typedparts/1.3.0/version.txt
packages/system.composition.typedparts/1.3.0/lib/netstandard1.0/System.Composition.TypedParts.dll
packages/system.composition.typedparts/1.3.0/lib/netstandard2.0/System.Composition.TypedParts.dll
packages/system.composition.typedparts/1.3.0/lib/netstandard2.0/System.Composition.TypedParts.xml
packages/system.composition.typedparts/1.3.0/lib/portable-net45+win8+wp8+wpa81/System.Composition.TypedParts.dll
