<?xml version="1.0"?>
<package>
  <metadata>
    <id>Waves.Core.IoC</id>
    <version>{$NUGETVERSION}</version>
    <authors>Waves</authors>
    <owners>Waves</owners>
    <licenseUrl>https://ambertape.ru</licenseUrl>
    <projectUrl>https://ambertape.ru</projectUrl>
    <icon>files\logo.png</icon>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <description>IoC library.</description>
    <releaseNotes></releaseNotes>
    <copyright>Copyright 2019-2020</copyright>
    <tags>Waves core ioc</tags>
    <dependencies>
      <group targetFramework=".NETCoreApp3.1" />
    </dependencies>
    <frameworkReferences>
      <group targetFramework=".NETCoreApp3.1">
        <frameworkReference name="Microsoft.NETCore.App" />
      </group>
    </frameworkReferences>
  </metadata>
  <files>
  	<file src="..\..\files\logo.png" target="files\" />
    <file src="..\..\bin\AnyCPU\release\netcoreapp3.1\Waves.Core.IoC.dll" target="lib\netcoreapp3.1"/>
    <file src="..\..\bin\AnyCPU\release\netcoreapp3.1\Waves.Core.IoC.xml" target="lib\netcoreapp3.1"/>
    <file src="..\..\bin\x86\release\netcoreapp3.1\Waves.Core.IoC.dll" target="build\x86"/>
    <file src="..\..\bin\x86\release\netcoreapp3.1\Waves.Core.IoC.xml" target="build\x86"/>
    <file src="..\..\bin\x64\release\netcoreapp3.1\Waves.Core.IoC.dll" target="build\x64"/>
    <file src="..\..\bin\x64\release\netcoreapp3.1\Waves.Core.IoC.xml" target="build\x64"/>
  </files>    
</package>